<h3>Partidos</h3>
<ng-container *ngFor="let partido of (partidos | async) | orderPartidos; let i = index;">
  <mat-card>
    <mat-card-header>
      <mat-card-subtitle>
        Jornada {{getJornada(i)}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-partido [partido]="partido"></app-partido>
      <app-score
        *ngIf="validaFecha(partido)"
        (pronostico)="savePronostico($event, partido)"
        [pronosticoGuardado]="pronosticos[i + 1]"
      ></app-score>
      <app-pronosticos
        [partido]="i + 1"
        [pronosticosGenerales]="pronosticosGenerales"
        [usuarios]="usuarios"
      ></app-pronosticos>
    </mat-card-content>
  </mat-card>
</ng-container>
