.partido-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.equipos-container {
  flex: 1 0 70%;
}

.fecha-container {
  flex: 1 0 30%;
}

span {
  margin: 0 5px 0 0;
  font-size: x-small;
}
