.partido-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #E0E0E0;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.equipos-container {
  flex: 1 0 70%;
}

.fecha-container {
  flex: 1 0 30%;
}
