<mat-table
  [dataSource]="grupo.equipos"
  class="mat-elevation-z0"
>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef> Club </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="img">
    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
    <mat-cell *matCellDef="let element"> <img
        [src]="element.img"
        alt="{{element.nombre}}"
      > </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
